body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://i.pinimg.com/564x/4d/55/37/4d5537b75055e09592d16513d771fbfd.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0); /* Transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    margin: 20px;
    overflow: hidden;
}

.image-before-text, .image-after-text {
    width: 80%; /* Adjusted size */
    height: auto;
    margin: 10px auto; /* Centered images */
    display: block; /* Ensures block-level for centering */
}

.text-content {
    font-size: 1em; /* Smaller font size */
    line-height: 1.4; /* Adjusted line height */
    color: rgba(0, 0, 0, 0.7);
    height: 300px; /* Fixed height for scrollable area */
    overflow-y: scroll; /* Enable vertical scrolling */
    padding: 10px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background for text */
}
